#footer { 
    bottom: 0;
    left: 0;
    position: fixed;
    height: 15%;    
    width : 100%;    
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(83,77,77,1) 35%, rgba(168,165,165,1) 70%, rgba(255,255,255,1) 100%);
}
a{
    color: white;
}

a:link { 
    text-decoration: none;
}

.media{
    position: fixed;
    color: white;
    left: 40%;
    font-size: 50px;
    top: 14px;
    z-index: 2;
    font-family: 'Palatino';
}


.logo{
    width: 4%;
    position: fixed;
    left: 34%;
    z-index: 2;
    top:1%;
    transition: transform .2s;
}

.logo:hover{
    transform: scale(1.16);
    box-shadow: 0px 1px white;
    
}

.contacts{
    color: white;
    position: fixed;
    top: 13%;
    left:2%;
    z-index: 2;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    padding: 5px;
    font-weight: bold;

  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #ba2626, #ba2626 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 400ms ease;
  text-decoration: none;
   
    
}

.contacts:hover{
    
    background-position: 0 100%;
   
 
}

.films_venir{
    color: white;
    position: fixed;
    top: 13%;
    left:18%;
    z-index: 2;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    background: black;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ba2626, #ba2626 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
    text-decoration: none;
    
}

.films_venir:hover{


    background-position: 0 100%;
   
  
}

.films_categories{
    color: white;
    position: fixed;
    top: 13%;
    left:42%;
    z-index: 2;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
   
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ba2626, #ba2626 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
    text-decoration: none;
}

.films_categories:hover{

    background-position: 0 100%;
}

.acteurs{
    color: white;
    position: fixed;
    top: 13%;
    left:61%;
    z-index: 2;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ba2626, #ba2626 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
    text-decoration: none;
}

.acteurs:hover{
    background-position: 0 100%;
}

.jouer{
    color: white;
    position: fixed;
    top: 13%;
    left:76%;
    z-index: 2;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
  
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ba2626, #ba2626 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
    text-decoration: none;
}

.jouer:hover{
    background-position: 0 100%;
}

.remerciement{
    color: white;
    position: fixed;
    top: 13%;
    left:88%;
    z-index: 2;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
   
    padding: 5px;

    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ba2626, #ba2626 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
    text-decoration: none;
}

.remerciement:hover{
    background-position: 0 100%;
}


.bandeau{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 22%;
    width: 100%;
    opacity: 90%;
}

.very{
    width: 20%;
    height: 40%;
    opacity: 70%;
    top:0;
    right:0;
    padding: 30px;
    border-radius: 15%;
}
.intouchable{
    width: 20%;
    height: 40%;
    opacity: 70%;
    padding: 30px;
    border-radius: 15%;
}
.toy{
    width: 20%;
    height: 40%;
    opacity: 70%;
    padding: 30px;
    border-radius: 15%;
}
.avenger{
    width: 20%;
    height: 40%;
    opacity: 70%;
    padding: 30px;
    border-radius: 15%;
}
.shrek{
    width: 20%;
    height: 40%;
    opacity: 70%;
    padding: 30px;
    border-radius: 15%;
}
.avatar{
    width: 20%;
    height: 40%;
    opacity: 70%;
    padding: 30px;
    border-radius: 15%;
}
.inception{
    width: 20%;
    height: 40%;
    opacity: 70%;
    padding: 30px;
    border-radius: 15%;
}
.et{
    width: 20%;
    height: 40%;
    opacity: 70%;
    padding: 30px;
    border-radius: 15%;
}


.et:hover{
    opacity: 100%;
    border-image: black;
}

.very:hover{
    opacity: 100%;
    border-image: black;
}

.intouchable:hover{
    opacity: 100%;
    border-image: black;
}

.toy:hover{
    opacity: 100%;
    border-image: black;
}

.avenger:hover{
    opacity: 100%;
    border-image: black;
}


.avatar:hover{
    opacity: 100%;
    border-image: black;
}

.inception:hover{
    opacity: 100%;
    border-image: black;
}

.shrek:hover{
    opacity: 100%;
    border-image: black;
}

.facebook{
    position: fixed;
    bottom: 27px;
    left:10%;
    z-index: 2;
    filter: invert(100%); 

}

.twitter{
    position: fixed;
    bottom: 2%;
    left:46%;
    z-index: 2;
    filter: invert(100%); 
}

.youtube{
    position: fixed;
    bottom:4%;
    left:80%;
    z-index: 2;
    filter: invert(100%); 
}

.suivez{
    z-index: 2;
    font-size: 15px;
    color: white;
    position: fixed;
    top:87%;
    left:46%;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}


.pagination {
    display: inline-block;
    position: fixed;
    top:30%;
    left:47%;
}

.iconGauche{
    display: inline-block;
    position: fixed;
    top:29.2%;
    font-size: 35px;
    left:45%;
}

.iconDroit{
    display: inline-block;
    position: fixed;
    top:29.2%;
    font-size: 220%;
    left:79%;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid black;
    background-color: white;
    opacity: 80%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.pagination a:hover:not(.active) {
    background-color: grey !important;
    color: white;
}

.iconGauche a:hover:not(.active) {
    color: black !important;
    font-size: 40px;
    position: fixed;
    top:29%;
}

.iconDroit a:hover:not(.active) {
    color: black !important;
    font-size: 40px;
    position: fixed;
    top:29%;
}
  
td:hover{
    transition: all 650ms ease-out;
    background-color: yellow;
    font-style: italic;
}

th{
    background-color: yellow;
    opacity: 60%;
}

#film{
    position: fixed;
    top:40%;
    left:56%;
}

table{
   
    border-collapse:collapse;
    
    
}

th,td,table{
    border: 1px solid black;
    padding: 10px;
    

}

#réalisateur{
    position: fixed;
    top:40%;
    left:58%;
}

#court{
    position: fixed;
    top:40%;
    left:54%;
}

#son{
    position: fixed;
    top:40%;
    left:48%;
}

.toute{
    position: fixed;
    top:40%;
    left:7%;
    color: white;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    line-height: 75px;
  
}
.césar{
    position: fixed;
    top:56%;
    left:12%;
    color: yellow;
    text-shadow: #474747 3px 5px 2px;
    font-size: 350%;
    font-family: Roboto, sans-serif;
}

.nominations{
    text-decoration: underline;
    
}

@media screen and (min-width: 1501px) and (max-width: 3000px) {
    .iconDroit{
        left:80%;
    }
 
    .césar{
        top:56%;
        left:14%;
    }
 }

 
@media screen and (min-width: 981px) and (max-width: 1500px) {
   .iconDroit{
       left:95%;
   }

   .césar{
       top:59%;
       left:16%;
   }
}

@media screen and (max-width: 980px) {
   

    .facebook{
        position: fixed;
        width: 12%;
    
    }
    
    .twitter{
        position: fixed;
        width: 10%;
        bottom: 1%;
    }
    
    .youtube{
        position: fixed;
        width: 8%;
        bottom: 2%;
    }

    .suivez{
        font-size: 40px;
        left:39%;
    }

    .contacts{
      font-size: 22px;
       
        
    }
    
    
    .films_venir{
        font-size: 22px;
    }
    
   
    
    .films_categories{
        font-size: 22px;
    }
    
    
    
    .acteurs{
        font-size: 22px;
    }
    
   
    .jouer{
        font-size: 22px;
    }
    
   
    
    .remerciement{
        font-size: 22px;
    }

    .logo{
        width: 12%;
    }

    .iconDroit{
        top:32.5%;
        left:60%;
    }

    .iconDroit:hover{
        top:32.5% !important;
        left:60% !important;
        color: black !important;
    }

    .césar{
        left:9%;
        top:57%;
    }

}



